{% if page.series %}

    {% assign seriesPosts = "" | split: "" %}
    {% for post in site.posts %}
        {% if post.series == page.series %}
            {% unless post.hidden %}
                {% assign seriesPosts = seriesPosts | push: post %}
            {% endunless %}
        {% endif %}
    {% endfor %}
    {% assign seriesPosts = seriesPosts | sort: 'chapter' %}

    {% if seriesPosts.size > 0 %}

        {% unless include.isTop %}
            <hr style="margin-top: 6em" />
            <h4>{{ page.series }}:</h4>
        {% else %}
            <h4>Chapters:</h4>
        {% endunless %}

        <ol class="chapters {% if include.isTop %}top{% endif %}">
            {% for post in seriesPosts %}
                <li class="{% if page.chapter == post.chapter %}current-chapter{% endif %}">
                    {% if page.chapter != post.chapter %}
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    {% else %}
                        <span>{{ page.title }}</span>
                        {% comment %}{% include toc.html html=page.content %}{% endcomment %}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>

    {% endif %}

{% endif %}