{% if page.series %}

    {% assign seriesPosts = "" | split: "" %}
    {% for post in site.posts %}
        {% if post.series == page.series %}
            {% assign seriesPosts = seriesPosts | push: post %}
        {% endif %}
    {% endfor %}
    {% assign seriesPosts = seriesPosts | sort: 'chapter' %}

<div class="series-note">
    <div class="series-table">
        <p class="series-title"><strong>{{ page.series }}</strong> series:</p>
        <ul>
        {% for post in seriesPosts %}
            <li class="{% if page.chapter == post.chapter %}current-chapter{% endif %}">
                {% if page.chapter != post.chapter %}
                    <a href="{{ post.url }}">{{ post.chapter }}. {{post.title}}</a>
                {% else %}
                    <span>{{ page.chapter }}. {{ page.title }}</span>
                    {% comment %}{% include toc.html html=page.content %}{% endcomment %}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}