<head>
	{% if site.analytics %}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics-gtag }}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', '{{ site.analytics-gtag }}');
	</script>
	{% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assign title = site.title %}
    {% if page.series %}{% assign title = page.series | append: ' | ' | append: title %}{% endif %}
    {% if page.title %}{% assign title = page.title | append: ' | ' | append: title %}{% endif %}

    <title>{{ title }}</title>
    <meta name="author"  content="{{ site.author }}">
    <meta name="description" content="{{ title }}">
    <meta name="keywords"  content="{% if page.tags.size > 0 %}{% for tag in page.tags  %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}">
    <!-- Open Graph -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <link rel="alternate" href="/feed.xml" type="application/rss+xml" title="CodeIsc blog feed (atom)" />
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css">
    <link rel="stylesheet" href="/assets/css/github-markdown.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/share.min.css">
    <link rel="stylesheet" href="/assets/css/app.min.css">
</head>