<head>
    {% include analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assign title = site.author %}
    {% if page.series %}{% assign title = page.series | append: ' | ' | append: title %}{% endif %}
    {% if page.title %}{% assign title = page.title | append: ' | ' | append: title %}{% endif %}

    {% assign description = page.excerpt | strip_html | strip_newlines %}

    <title>{{ title }}</title>
    <meta name="author"  content="{{ site.author }}">
    <meta name="description" content="{{ description }}">
    <meta name="keywords"  content="{% if page.tags.size > 0 %}{% for tag in page.tags  %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.url }}{% if page.cover %}{{ page.cover }}{% else %}{{ site.image }}{% endif %}" />

    <link rel="alternate" href="/feed.xml" type="application/rss+xml" title="CodeIsc blog feed (atom)" />
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.4/css/all.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/github-markdown.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/share.css">
    <link rel="stylesheet" href="/assets/css/app.min.css">

    <script src="/assets/js/prism.js"></script>
</head>