.markdown-body {

    pre {
        background-color: #272822;
        padding: 1em;
        overflow: auto;
        border-radius: 0.3em;

        color: #f8f8f2;
        text-decoration-color: #f8f8f2;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    blockquote.jackass {
        background-color: #131313;
        color: #f8f8f2;
        text-decoration-color: #f8f8f2;
        padding: 1em;
        background-image: url('/assets/img/skull.png');
        background-repeat: no-repeat;
        background-size: auto 3em;
        padding-left: 5em;
        background-position: 1em center;
        border-color:#ff6666;

        .title {
            color: #ff6666;
            text-decoration-color: #ff6666;
            margin-bottom: 0;
        }

        .content {
            code {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    blockquote.note {
        padding: 1em;
        background-color: #FFFFCC;
        border-color: #FFEB3B;

        .content {
            color: #24292e;
            text-decoration-color: #24292e;
        }
    }

    h2 img {
        display: inline-block;
        height: 1.25em;
        margin: 0;
        box-sizing: border-box;
        vertical-align: middle;
    }
}