.markdown-body {

    font-size: 16px;

    table.no-border {
        border: 0;

        tr {
            border: 0;

            td {
                border: 0;
            }
        }
    }

    p {
        line-height: 1.8;
        text-align: left;
    }

    p, ul, ol, blockquote, pre {
        margin-bottom: 2em;
    }

    pre {
        background-color: #272822;
        padding: 1em;
        overflow: auto;
        border-radius: 0.3em;

        color: #f8f8f2;
        text-decoration-color: #f8f8f2;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        font-family: 'Inconsolata', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    hr {
        margin: 4.5em 0 2em 0;
        height: 1px;
        color: #eaecef;
    }

    blockquote.description {
        padding: 1em;
        border: 2px dotted #ffb466;
        
        color: #24292e;
        text-decoration-color: #24292e;
    }

    blockquote.jackass {
        background-color: #131313;
        color: #f8f8f2;
        text-decoration-color: #f8f8f2;
        padding: 1em;
        background-image: url('/assets/img/skull.png');
        background-repeat: no-repeat;
        background-size: auto 3em;
        padding-left: 5em;
        background-position: 1em center;
        border-color:#ff6666;

        .title {
            color: #ff6666;
            text-decoration-color: #ff6666;
            margin-bottom: 0;
        }

        code {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    blockquote.note {
        padding: 1em;
        background-color: #FFFFCC;
        border-color: #FFEB3B;

        color: #24292e;
        text-decoration-color: #24292e;
    }

    h1 {
        border-bottom: 1px solid #eaecef;
        padding-bottom: 0.25em;
    }

    h2 {
        /*border-bottom: 1px solid #eaecef;*/
        padding-bottom: 0.25em;
    }

    h2 img {
        display: inline-block;
        height: 1.25em;
        margin: 0;
        box-sizing: border-box;
        vertical-align: middle;
    }

    h1, h2, h3, h4 {
        &:before {
            content: '';
            display: block;
            position: relative;
            width: 0;
            height: 1em;
            margin-top: -1em;
        }
    }

    .header-link {
        position: absolute;
        margin-left: 0.25em;
        opacity: 0;

        transition: opacity 0.1s ease-in-out 0.05s;
        -webkit-transition: opacity 0.1s ease-in-out 0.05s;
        -moz-transition: opacity 0.1s ease-in-out 0.05s;
        -ms-transition: opacity 0.1s ease-in-out 0.05s;
    }

    h1:hover .header-link,
    h2:hover .header-link,
    h3:hover .header-link,
    h4:hover .header-link,
    h5:hover .header-link,
    h6:hover .header-link {
        opacity: 1;
    }

    .code-toolbar {
        .toolbar-item {
            margin-right: 5px;
        }
    }

    .filename {
        &:before {
            content: attr(data-file);
            display: block;
            color: #24292e;
            text-shadow: 0 1px rgba(255,255,255,.3);
            padding: .5em 1em;
            background-color: rgb(41,171,164);
            font-family: "Inconsolata",Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;

            border-top-left-radius: 0.3em;
            border-top-right-radius: 0.3em;
        }

        pre {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}